{% extends "customer/core/layouts/customer_base.html" %}

{% block title %}Dashboard | Talena{% endblock %}

{% block content %}
  <h1>Dashboard</h1>

    <p>
      Inloggad som: <strong>{{ request.user.get_username }}</strong>
    </p>

    <hr />

    <p style="margin-top: 32px; color: #666;">
      Status: <strong>alive</strong>
    </p>

<a class="nav-link" href="{% url 'processes:process_list' %}">Process List</a>

<a class="nav-link" href="{% url 'processes:process_create' %}">Process Create</a>

<form method="post" action="{% url 'accounts:logout' %}">
  {% csrf_token %}
  <button type="submit">Logga ut</button>
</form>



{% endblock %}