<div id="layoutSidenav_nav">
                <nav class="sidenav sidenav-light border">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <!-- Sidenav Menu Heading (Core)-->
                            <div class="sidenav-menu-heading">Konto</div>
                            <!-- Sidenav Accordion (Dashboard)-->
                             
                            <a class="nav-link" href="{% url 'core:customer_dashboard' %}">
                                <div class="nav-link-icon"><i data-feather="grid"></i></div>
                                Dashboard
                            </a>
                                                        <a class="nav-link" href="{% url 'portal:settings' %}">
                                <div class="nav-link-icon"><i data-feather="settings"></i></div>
                                Kontoinställningar
                            </a>
                            <div class="collapse" id="collapseDashboards" data-bs-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                    <a class="nav-link" href="dashboard-1.html">
                                        Default
                                        <span class="badge bg-primary-soft text-primary ms-auto">Updated</span>
                                    </a>
                                </nav>
                            </div>
                            <!-- Sidenav Heading (Custom)-->
                            <div class="sidenav-menu-heading">Tester</div>
                            <!-- Sidenav Accordion (Pages)-->
                            <a class="nav-link" href="{% url 'processes:process_list' %}">
                                <div class="nav-link-icon"><i data-feather="list"></i></div>
                                Testprocesser
                            </a>
                                                        <a class="nav-link" href="{% url 'processes:process_create' %}">
                                <div class="nav-link-icon"><i data-feather="plus"></i></div>
                                Skapa ny testprocess
                            </a>
                        
                    </div>
                    </div>
                    <!-- Sidenav Footer-->
                    <div class="sidenav-footer">
                        <div class="sidenav-footer-content">
                            <div class="sidenav-footer-subtitle">Inloggad som:</div>
                            <div class="sidenav-footer-title">{{ request.user.get_full_name }}</div>
                        </div>
                    </div>
                </nav>
            </div>